{% extends "base.html" %}


{% block content %}

<main class="container">
      <div class="row">
            <div class="col-md-6 offset-md-3">
                  <h1>Tareas pendientes</h1>

                  <ul class="list-group">
                        {% for task in tasks %}
                        <a class="list-group-item" href="{% url 'task_detail' task.id %}"
                              style="text-decoration: none;">
                              <header class="d-flex justify-content-between">
                                    {% if task.important %}
                                    <p>titulo: <strong>{{ task.title }}</strong></p>
                                    {% else %}
                                    <p>titulo: {{ task.title }}</p>
                                    {% endif %}
                                    <p>{{ task.user.username }}</p>
                              </header>
                              <section>
                                   <p>Descripción: {{ task.description }}</p> 
                              </section>
                              
                        </a>
                        {% endfor %}
                  </ul>
            </div>
      </div>
</main>

{% endblock %}